<div class="container">
	<div class="container-header">
		Войдите, для удобства работы с системой
	</div>
	<div class="container-inner">
		<div class="container-inner_fields">
			<div class="field">
				<div class="field_text">Логин</div>
				<input [(ngModel)]="login">
			</div>
			<div class="field">
				<div class="field_text">Пароль</div>
				<input [(ngModel)]="password" type="password">
			</div>
		</div>
		<div class="container-inner_buttons">
			<button class="common_button">Войти</button>
			<button class="common_button" (click)="registrate()">Зарегистрироваться</button>
			<div class="others">

			</div>
		</div>
	</div>

</div>
