@import "./common.scss";

/deep/ body {
  background-color: $background-color;
	color: $text-color;
}

/deep/ input {
	background: transparent;
	border: 1px solid $border-color;
	font-size: 15px;
	height: 20px;
	color: $text-color;
	outline-color: $red;
	outline-width: 1px;
}

/deep/ .common_button {
	border: 1px solid $border-color;
	outline-color: $red;
	outline-width: 1px;
	padding: 5px 25px;
	color: $text-color;
	margin: 2px;
	font-size: 15px;
}

.app {
	display: flex;
	height: 100%;
	width: 100%;
	position: absolute;
	flex-direction: column;
}
